@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cormorant Garamond;
    scroll-behavior: smooth;
    
}
.main{
    max-width: 100%;
    overflow-x: hidden;
}
:root{
    --link_clor:#B08EAD;

}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 120px;
}
.nav-bar a{
    padding-right: 40px;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: var(--link_clor);
    position: relative;
    padding: 0 10px;
   
}
.nav-bar a::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    background-color: var(--link_clor );
    transition: 0.3s;
}
.nav-bar a:hover::after{
   width: 100%;
}
#face,#face2{
    width: 100%;
    height: 800px;
    background-image: linear-gradient(#C9ADC6, #D6BBD3);
}
#bg-face{
    width: 100%;
    height: 800px;
    background-image: linear-gradient(#C9ADC6, #D6BBD3);
}
/*IMAGE OF MAIN PAGE*/
.image-capturer, .image-capturer2{
    padding-top: 72px;
}
.image-capturer img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.img-container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangle{
    width: 50%;
    min-height: 350px;
    margin-left: -100px;
    margin-top: 40px;
    background-color:#B08EAD ;
    border-radius: 15px;
    padding: 0 4% 0 4%;
   

}

.resizer{
    width: 40%;
}
.new{
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    color: white;
    margin-top: 90px;
    margin-bottom: -30px;

}
.context{
    font-size: 45px;
    font-family:Cormorant Garamond ;
    color: white;
}
.buy-btn{
    font-size: 14px;
    text-decoration: none;
    color: white;
    position: relative;
    
    
}
.buy-btn::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    background-color: white;
    transition: 0.3s;

}
.buy-btn:hover::after{
    width: 100%;
   
}
@media(max-width:412px){
    #face{
        height: 750px !important;
    }
    #bg-face{
        height: 800px !important;
        
    }
}
@media(max-width:768px){
    
    .img-container{
        flex-direction: column;
    }
    .triangle{
        width: 80%;
        margin: 0;
        margin-top: -100px;
       
    }
    .resizer{
        width: 70%;
    }
    .context{
        font-size: 35px;
    }
    .nav-bar {
        display: none;
    }
    #face{
        height: 850px;
    }
    #bg-face{
        height: 1000px;
        
    }
    
    .overflov1{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .element-holder{
        width: 90%;
        max-width: 1000px;
        flex-direction: column-reverse;
        justify-content: center;
        width: 70%;
        padding-right: 50% !important;
    }
    .self-box{
        display: block;
        margin: 0 auto!important;
        width: 300px !important;
        margin-left: -40px !important;
        margin-top: -100px !important;
        height: 350px;
    
    }
    .main_context{
        font-size: 35px;
    }
    .image-holder{
        margin-left: -50px !important;
    }
    
    
    .card:hover{
        transform: scale(1) !important;
        box-shadow: none !important;
    }

    .h-card{
        width: 350px !important;
        gap: 10px !important;
        flex-direction: column-reverse;
    }
    .h-captions, .h-details{
        width: 300px !important;
        font-size: 20px !important;
        color: #5F4D5D;
    }

    .h-card2{
        width: 350px !important;
        gap: 10px !important;
        flex-direction: column;
    }
    .h-captions2, .h-details{
        width: 300px !important;
        font-size: 20px !important;
        color: #5F4D5D;
    }
    .s-input {
        padding-left: 25%;
    }
    .s-input input{
        margin-bottom: 10px;
    }
    .subscribtion{
        height: 40vh !important;
    }


}
@media(max-width:1000px){
    .forms{
        flex-direction: column-reverse;
        height: 1000px !important;
        gap: 20px;
        padding-left: 4%;
        padding-right: 4%;
    }
    .inputs input{
        margin-bottom: 10px;
    }
   
    
}
@media(max-width:1350px){
    .h-card{
        width: 550px;
        gap: 10px !important;
        flex-direction: column-reverse;
    }
    .h-captions, .h-details{
        width: 500px;
        font-size: 20px !important;
        color: #5F4D5D;
    }

    .h-card2{
        width: 550px;
        gap: 10px !important;
        flex-direction: column;
    }
    .h-captions2, .h-details{
        width: 500px;
        font-size: 20px !important;
        color: #5F4D5D;
    }
}



article {
    margin-top: 75px;
}
.designer, .context2, .learn-more-btn{
    text-align: center;
}
.designer{
    font-size: 14px;
    font-family: Roboto;
    color: #B99BB6 ;
}
.context2{
    font-size: 26px;
    color: #5F4D5D;
}
.main-btn{
    width: 140px;
    height: 45px;
    border:1px solid #B99BB6;
    border-radius: 25px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    color: #B99BB6;
    font-family: Cormorant Garamond;
}
.main-btn:hover{
    background-color: var(--link_clor);
    color: white;
    
}
/*Card starts from here*/
.cards{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

}
.card{
    display: flex;
    flex-direction: column;
    background:#CEB3CB ;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    transition: .3s;
}
.card, .card_image{
    max-width: 360px;
    flex: 0 0 300px;
}
.card, .card_title{
    font-size: 25px;
    font-weight: 400;
}
.card, .card_detail{
    font-size: 17px;
    font-weight: 400;
}
.c-card{
    background-color:white !important; 
    text-align: center;
}
.c-card .card_title{
    font-size: 24px;
    color: #5F4D5D;
    font-family: Cormorant Garamond;
}
.c-card{
    font-size: 16px;
    color: #B0B0B0;
    font-family: Roboto;
}
.wrapper{
   padding: 1rem;
   margin-bottom: 10px;
}
/*Card Shadows*/

.card:hover{
    box-shadow: 0 8px 8px 10px rgba(43, 44, 44, 0.534);
    transform: scale(1.02);
}
/*second overflow*/
.overflov1{
    margin-top: 75px;
    background-color: #CEB3CB;
    color: white;
    font-family: Roboto;
}
.element-holder{
    width: 90%;
    padding: 75px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.self-box{
    width: 440px;
    height: 450px;
    background-color: #B08EAD;
    order: 1;
    margin-right: -100px;
    z-index: 1;
    padding: 0 4% 0 4%;
    border-radius: 10px;
}
.image-holder{
    order: 2;
}
.image-holder, img{
    max-width: 100%;
    margin: 0 auto;
}
.about_me{
    font-size: 14px;
    padding-top: 124px;
}
.main_context{
    font-size: 45px;
    margin-bottom: 22px;
}


/*horizontal card part*/
#products{
    margin-top: 75px;
}
.h-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.h-card{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
}
.h-card, .h-img{
    order: 2;
}
.h-captions{
    order: 1;
}
.h-captions, .h-details{
    width: 550px;
    font-size: 24px;
    color: #5F4D5D;
}
.h-theme{
    width: 500px;
    font-size: 18px;
    color: #B99BB6;
}

.h-card2{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
}
.h-card2, .h-img{
    order: 2;
}
.h-captions{
    order: 1;
}
hr{
    width: 70%;
    border-color: #D7B7D4;
}
/*Form Part*/
.forms{
    margin-top: 130px;
    background-color: #CEB3CB;
    height: 560px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}
.left .l-content{
    padding-bottom: 20px;
}
.l-theme{
    font-family: Roboto;
    font-size: 14px;
}
.l-content{
    font-family: Cormorant Garamond;
    font-size: 24px;
}
.r-theme{
    font-family: Roboto;
    font-size: 14px;
}
.r-content{
    font-family: Cormorant Garamond;
    font-size: 24px;
    margin-bottom: 20px;
}
.right{
    display: flex;
    flex-direction: column;
}
.inputs{
    margin-bottom: 30px;
}
.inputs input{
    height: 50px;
    width: 288px;
    border: 1px solid #FFFFFF;
    background-color: #CEB3CB;
    color: white;
    font-style: italic;
    margin-right: 24px;
    font-size: 18px;
    padding-left: 15px;
}
textarea{
    border-radius: 0px;
    border: 1px solid #FFFFFF;
    background-color: #CEB3CB;
    color: white;
    font-style: italic;
    font-size: 18px;
    padding: 15px;
}
.submit-btn button{
    width: 210px;
    height: 50px;
    border: 1px solid #FFFFFF;
    background-color: #CEB3CB;
    color: white;
    cursor: pointer;
    transition: .3s;
    font-size: 18px;
}
.submit-btn button:hover{
    background-color: white;
    color: #CEB3CB;
}
/*Subscribtion section*/
.subscribtion{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.s-theme{
    font-family: Roboto;
    font-size: 14px;
    color:#B99BB6
}
.s-content{
    font-size: 24px;
    color: #5F4D5D;
    font-family: Cormorant Garamond;
}
.s-input input{
    height: 60px;
    width: 200px;
    background-color: white;
    color: #CEB3CB;
    padding-left: 15px;
    font-style: italic;
    border-radius: 0;
    border: 1px solid#CEB3CB;
    font-size: 18px;
}
.s-input button{
    height: 60px;
    width: 200px;
    border-radius: 0;
    background-color: #CEB3CB;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

