body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}
.main{
    overflow-y: hidden;
    overflow-x: hidden;
}
nav{
    display: flex;
    flex-direction: column;
    background: rgb(70, 80, 80);
    position: fixed;
    height: 100vh;
    gap: 30px;
    width: 250px;
    left: 0;
    justify-content: center;
    z-index: 50;
    a{
        text-decoration: none;
        font-size: 23px;
        color: white;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        transition: .3s ;
        &:hover{
            background: rgb(163, 144, 144);
        }
        &:target{
            background: red;
            width: 100%;
        }
    }
}
section{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 0;
    top: 0;
    height: 100vh;
    transition: all ease-in .5s;
    opacity: 0;
    h1{
        color: white;
        font-size: 50px;
    }
    &:target{
        opacity: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
    
    }
    &:target h1{
        opacity: 0;
        animation: .8s fadeIn Forwards 1s;
    }
}


#first{
    background: #f0a3bc;
}
#second{
    background: #70be51;
}
#third{
    background: #eb6b40;
}
#fourth{
    background: #9b45b2;
}
@keyframes fadeIn {
    100% { opacity:1 }
}

/*mobile view*/

@media(max-width:768px){
    nav{
        width: 50px;
        .links{
            visibility: hidden;
            padding-left: 12px;
        }
        span{
            visibility: visible;
        }
        
    }
}

